{% extends "public/base.html" %}
{% load static %}



{% block javascript %} 
	 <script type="text/javascript" src="{% static 'public/js/nav.js' %}"></script>
{% endblock %}


{% block content %} 



<style>
    #conoceme{
        color: #e2cf84;
    }
</style>



<div class="container p-md-5 p-3 mt-md-5">
    <div class="row p-3 p-md-0 text-light mt-5">
        <div class="col-md-8 p-0 offset-md-2">
            <div class="row m-0">
                <div class="col-12 mt-md-4 mt-2 p-0 mb-4">
                    <h1>QUIÉN SOMOS Y CUAL ES NUESTRA TRAYECTORIA</h1>
                </div>
                <div class="col-12 bg-dark p-4 mb-3">
                    Mi nombre es <u>Floren Martínez</u> y mi idea de negocio se basa prácticamente en
                    las terapias alternativas. 
                    <br><br>   
                    Os voy a explicar un poco el origen de la idea del
                    nombre comercial: 
                    <br>
                    - Vergel significado en el diccionario de la RAE, VERGEL:
                    Huerto con variedad de flores y árboles frutales. SPORT: con el sentido de
                    actividad o ejercicio físico. 
                    <br>
                    - NUTRITION: anglicismo que hace referencia a la
                    nutrición y dietética. 
                    <br>
                    - MASAJES: técnica especializada 
                    <br>
                    - ACUPUNTURA:técnica de descodificación a través de agujas, previamente localizando los
                    puntos clave y estableciendo un orden y dirección. 
                    <br><br>

                    (Como nota aclaratoria, ni que decir tiene que me vino la inspiración nadando unos largos en la piscina
                    climatizada de Albatera). 
                    <br><br>

                    He estudiado primeramente en los años 1999 a 2001 Técnico Superior en
                    Actividades Físicas y Animación Deportiva (TAFAD), posteriormente, me
                    matriculé en la Universidad de Alicante (UA) para cursar Magisterio en la
                    especialidad de Educación Física, después de haber cursado 4 años y
                    quedándome 11 asignaturas de varios cursos me di cuenta de que no me veía
                    dando clases a peques en un cole y decidí no retomarlo hasta el momento, ya
                    que me casé en 2008 y he tenido otras obligaciones que me han impedido
                    poder estudiar lo que me queda, quien sabe si algún día podré retomarlo y
                    terminar el grado en educación física, en un futuro lo sabremos. 
                    <br><br>

                    Por el año 2013 tuve la oportunidad de cursar en la escuela de terapias
                    alternativas DIEVA en la ciudad de Alicante, el curso intensivo de quiromasaje
                    y su especialidad en masaje deportivo, a la finalización cursé la especialidad en
                    vendaje neuromuscular (kinesio tape) y antes de terminar dicho curso se me
                    despertó la curiosidad por la Medicina Tradicional China (MTC), acudí a una
                    charla informativa en la que me asombré de lo que la MTC era capaz de
                    conseguir en el organismo del cuerpo humano y sus relaciones familiares,
                    afectivas de pareja o de amistad. Saber gestionar cuerpo físico, cuerpo mental
                    y cuerpo emocional. 
                    <br>
                    A raíz de ahí estudié 5 años de MTC. La MTC se empezó
                    a tener referencias de ella hace más de 2500 años aC. donde los emperadores
                    chinos la utilizaban para alargar sus años de vida, a fin de cuentas, lo que la
                    medicina occidental pretende que es alargar la esperanza de vida de los
                    ciudadanos a cambio de consumir todos los medicamentos de la industria
                    farmacéutica. 
                    <br><br> 
                    Creo que me vas cogiendo el rollo querido compañero!!!
                    <br><br>

                    Mis sesiones de terapia, son de 60' dónde se abordan los problemas con los
                    que viene el paciente. Ya sean dolores de físicos, mentales o emocionales. Y
                    cuando analizo al paciente en la primera sesión, pues le aplico la terapia
                    correspondiente con la que más rápidamente vamos a acortar el proceso de
                    recuperación, lo que es lo mismo, Terapia Integrativa, que se puede utilizar la
                    psicología, mediante el saber escuchar y la técnica de masaje para paliar un
                    dolor localizado, la aromaterapia a través de los aromas propios de las plantas
                    medicinales, la fitoterapia a través de la utilización propiamente dichas, de las
                    plantas medicinales como medida de sanación o a través de la acupuntura
                    donde se localizan los puntos afectados dentro del mapa de cada paciente y o
                    bien se fortalecen o se dispersan para que el cerebro que es nuestro ordenador
                    central actúe en consonancia, dependiendo de los síntomas que nos releve el
                    cuerpo físico a través de los dolores del paciente. <br>
                    He aquí unas pinceladas de mi tendencia hacia una mente TAO o sentimiento
                    TAOÍSTA. <br>
                    Esperando acogeros en mi OASIS MATERNAL, en el que pretendo transformar
                    mi consulta para atender cualquiera de vuestras inquietudes.
                    <br><br>
                    Saludos cordiales de Floren Martínez Martínez.
                </div>



{% endblock %}