{% extends "public/base.html" %}
{% load static %}


{% block javascript %} 
	 <script type="text/javascript" src="{% static 'public/js/nav.js' %}"></script>
{% endblock %}


{% block content %} 



<style>
    #contacto{
        color: #e2cf84;
    }
</style>


   <div class="container p-md-5 p-3 mt-md-5">
	<form method="post" action="">{% csrf_token %}
		<div class="row p-3 p-md-0 text-light mt-5">

            <div class="col-md-2"></div>
			<div class="col-md-8 p-0">
				<div class="row m-0">
					<div class="col-12 mt-md-4 mt-2 p-0">
						<h1>CONTACTAR</h1>
					</div>
					<div class="col-12 bg-dark p-4">
						<small>
							Para contractar con nosotros directamente puede hacerlo via mail en <a href="mailto:info@vergelsport.es">info@vergelsport.es</a>.
							También puede visitar nuestra <a href="https://www.facebook.com/vergel.sport.terapias">página</a> de Facebook y hablarnos.
						</small>
					</div>


					<div class="col-12 mt-5 p-0">		
						<h1>DÓNDE ESTAMOS</h1>
					</div>
					<div class="col-12 bg-dark p-0">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3137.657654012065!2d-0.894301484984748!3d38.14815269836298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63bd98c7d48227%3A0xc7dbbe0fb9471d64!2sVergel%20Sport!5e0!3m2!1ses!2ses!4v1634287229961!5m2!1ses!2ses" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>

					<div class="col-12 mt-5 p-0">
						<h5>FORMULARIO</h5>
					</div>
					<div class="col-12 bg-dark p-4">
						<div class="row m-0">
							<div class="col-12 p-0">
								<p class="textoFormulario mb-1">Nombre</p>
								<input type="text" name="nombre" required class="formularioContacto">
							</div>

							<div class="col-12 p-0 mt-4">
								<p class="textoFormulario mb-1">Apellidos</p>
								<input type="text" name="apellidos" required class="formularioContacto">
							</div>

							<div class="col-12 p-0 mt-4">
								<p class="textoFormulario mb-1">Correo electrónico</p>
								<input type="email" name="correo" required class="formularioContacto">
							</div>


							<div class="col-12 p-0 mt-4">
								<p class="textoFormulario mb-1">Teléfono</p>
								<select class="formularioContacto required formularioContactoTel text-white" name="prefijo">
									<option value="España">+34</option>
								</select>
								<input type="number" name="telefono" required class="formularioContacto formularioContactoTel2">
							</div>


							<div class="col-12 p-0 mt-4">
								<p class="textoFormulario mb-1">Mensaje</p>
								<textarea name="mensaje" rows="8" cols="80" required class="formularioContacto formalioContactoArea"></textarea>
							</div>
						</div>
					</div>
					<div class="col-12 p-0">
							<button class="btn-success btn border-0 rounded-0 float-end mt-3 px-5 py-3" type="submit">Enviar formulario</button>
					</div>

					
				</div>
			</div>

		</div>
	</form>
</div>
{% endblock %}