{% extends "public/base.html" %}
{% load static %}


{% block javascript %} 
	 <script type="text/javascript" src="{% static 'public/js/nav.js' %}"></script>
{% endblock %}


{% block content %} 



<style>
    #contacto{
        color: #e2cf84;
    }
</style>


   <div class="container p-5 mt-5">
	<form method="post" action="">{% csrf_token %}
		<div class="row p-3 p-md-0 text-light mt-5">

            <div class="col-md-2"></div>
			<div class="col-md-8 p-0">
				<div class="row m-0">
					<div class="col-12 mt-md-4 mt-2 p-0">
						<h1>CONTACTAR</h1>
					</div>
					<div class="col-12 bg-dark p-4">
						<small>
							Para contractar con nosotros directamente puede hacerlo via mail en <a href="mailto:lilus@lilus.es">info@vergelsport.es</a>.
							También puede visitar nuestra <a href="https://www.facebook.com/lilusmodainfantil/">página</a> de Facebook.
						</small>
					</div>

					
					<div class="col-12 mt-5 p-0">
						<h5>FORMULARIO</h5>
					</div>
					<div class="col-12 bg-dark p-4">
						<div class="row m-0">
							<div class="col-12 p-0">
								<p class="textoFormulario mb-1">Nombre</p>
								<input type="text" name="nombre" required class="formularioContacto">
							</div>

							<div class="col-12 p-0 mt-4">
								<p class="textoFormulario mb-1">Apellidos</p>
								<input type="text" name="apellidos" required class="formularioContacto">
							</div>

							<div class="col-12 p-0 mt-4">
								<p class="textoFormulario mb-1">Correo electrónico</p>
								<input type="email" name="correo" required class="formularioContacto">
							</div>


							<div class="col-12 p-0 mt-4">
								<p class="textoFormulario mb-1">Teléfono</p>
								<select class="formularioContacto required formularioContactoTel text-white" name="prefijo">
									<option value="España">+34</option>
								</select>
								<input type="number" name="telefono" required class="formularioContacto formularioContactoTel2">
							</div>


							<div class="col-12 p-0 mt-4">
								<p class="textoFormulario mb-1">Mensaje</p>
								<textarea name="mensaje" rows="8" cols="80" required class="formularioContacto formalioContactoArea"></textarea>
							</div>
						</div>
					</div>
					<div class="col-12 p-0">
							<button class="btn-success btn border-0 rounded-0 float-end mt-3 px-5 py-3" type="submit">Enviar formulario</button>
					</div>

					
				</div>
			</div>

		</div>
	</form>
</div>
{% endblock %}