<footer class="page-footer font-small pt-4 color-light">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <div class="row px-md-0 px-3 py-md-4 py-0">
      <div class="col-md-5 text-start pr-md-5 mb-md-0 mb-4">
        <h5 class="font-weight-bold mt-3 mb-4">Vergel Sport</h5>
        <p>
         "Mi oasis maternal acoge tu ser"
		</p>


      </div> 

      <div class="col-md-2 col-6 text-start mb-md-0 mb-4">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">PÁGINAS</h5>
        <ul class="list-unstyled">
			    <li>
	            <a href="{% url 'home' %}" class="text-decoration-none">Inicio</a>
	        </li>	
            <li>
	            <a href="{% url 'servicios' %}" class="text-decoration-none">Servicios</a>
	        </li>	
            <li>
	            <a href="{% url 'conoceme' %}" class="text-decoration-none">Conoceme</a>
	        </li>	
        </ul>
      </div>

      <div class="col-md-2 col-6 text-start mb-md-0 mb-4">

      </div>

      <div class="col-md-3 col-6 text-start ">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">INFORMACIÓN</h5>
        <ul class="list-unstyled">
          <li>
            <a href="{% url 'contacto' %}" class="text-decoration-none">Contacto</a>
          </li>
          <li>
            <a href="" class="text-decoration-none">Términos y condiciones</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Footer Links -->
  <hr class="bg-dark">
  <div class="footer-copyright text-center pb-5 pt-4">© {% now "Y" %} -
    <a href="https://www.ynsf.es/" class="text-decoration-none"> <small>De</small> Naoa <small>para</small> VergelSport <small>con</small> 💙</a>
  </div>
  <!-- Copyright -->

</footer>