{% extends "public/base.html" %}
{% load static %}

{% block javascript %} 
	 <script type="text/javascript" src="{% static 'public/js/nav.js' %}"></script>
{% endblock %}


{% block content %} 



<style>
    #servicios{
        color: #e2cf84;
    }
</style>


<div class="container p-md-5 p-3 mt-md-5">

  <!-- START THE FEATURETTES -->

    <div class="row featurette mt-5 pt-5">
      <div class="col-md-7">
        <h2 class="featurette-heading text-light">MASAJE</h2>
        <hr class="featurette-divider">

        <p class="lead text-secondary"> 
         <b class="text-light">30€</b> La hora en tu primera visita. <br>
         <b class="text-light">25€</b> La hora en todas las demás visitas que hagas. <br>
        </p>

        <div class="row">
            <div class="col-md-6  text-center">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                  <div class="card-header py-3 text-white bg-dark border-dark">
                    <h4 class="my-0 fw-normal">BONO PEQUEÑO</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">90<small class="text-muted fw-light">€</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>4 Sesiones</li>
                      <li>Intercambiable entre servicios</li>
                    </ul>
                    <a type="button" class="w-100 btn btn-lg btn-dark" href="{% url 'contacto' %}">Contactanos</a>
                  </div>
                </div>
            </div>
            <div class="col-md-6  text-center">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                  <div class="card-header py-3 text-white bg-dark border-dark">
                    <h4 class="my-0 fw-normal">BONO GRANDE</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">230<small class="text-muted fw-light">€</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>10 Sesiones + 1 gratuita</li>
                      <li>Intercambiable entre servicios</li>
                    </ul>
                    <a type="button" class="w-100 btn btn-lg btn-dark" href="{% url 'contacto' %}">Contactanos</a>
                  </div>
                </div>
            </div>    
        </div>
        
      </div>
      <div class="col-md-5">
        <div class="imgServicio p-md-5 p-0">
            <div style="background: url({% static 'public/img/masaje.jpg'%}) no-repeat;background-size: cover; background-position: center !important;"></div> 
        </div>       
      </div>
    </div>




    <div class="row featurette mt-5 pt-5">
        <div class="col-md-7">
          <h2 class="featurette-heading text-light">KINESIOTAPE</h2>
          <hr class="featurette-divider">
  
          <p class="lead text-secondary"> 
           <b class="text-light">30€</b> La hora en tu primera visita. <br>
           <b class="text-light">25€</b> La hora en todas las demás visitas que hagas. <br>
          </p>

          <div class="row">
            <div class="col-md-6  text-center">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                  <div class="card-header py-3 text-white bg-dark border-dark">
                    <h4 class="my-0 fw-normal">BONO PEQUEÑO</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">90<small class="text-muted fw-light">€</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>4 Sesiones</li>
                      <li>Intercambiable entre servicios</li>
                    </ul>
                    <a type="button" class="w-100 btn btn-lg btn-dark" href="{% url 'contacto' %}">Contactanos</a>
                  </div>
                </div>
            </div>
            <div class="col-md-6  text-center">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                  <div class="card-header py-3 text-white bg-dark border-dark">
                    <h4 class="my-0 fw-normal">BONO GRANDE</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">230<small class="text-muted fw-light">€</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>10 Sesiones + 1 gratuita</li>
                      <li>Intercambiable entre servicios</li>
                    </ul>
                    <a type="button" class="w-100 btn btn-lg btn-dark" href="{% url 'contacto' %}">Contactanos</a>
                  </div>
                </div>
            </div>    
        </div>


        </div>

        
        <div class="col-md-5">
          <div class="imgServicio p-md-5 p-0">
              <div style="background: url({% static 'public/img/kinesiotape.jpg'%}) no-repeat;background-size: cover; background-position: center !important;"></div> 
          </div>       
        </div>
    </div>



    <div class="row featurette mt-5 pt-5">
        <div class="col-md-7">
          <h2 class="featurette-heading text-light">ACUPUNTURA</h2>
          <hr class="featurette-divider">
  
          <p class="lead text-secondary"> 
           <b class="text-light">30€</b> La hora en tu primera visita. <br>
           <b class="text-light">25€</b> La hora en todas las demás visitas que hagas. <br>
          </p>

          <div class="row">
            <div class="col-md-6  text-center">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                  <div class="card-header py-3 text-white bg-dark border-dark">
                    <h4 class="my-0 fw-normal">BONO PEQUEÑO</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">90<small class="text-muted fw-light">€</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>4 Sesiones</li>
                      <li>Intercambiable entre servicios</li>
                    </ul>
                    <a type="button" class="w-100 btn btn-lg btn-dark" href="{% url 'contacto' %}">Contactanos</a>
                  </div>
                </div>
            </div>
            <div class="col-md-6  text-center">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                  <div class="card-header py-3 text-white bg-dark border-dark">
                    <h4 class="my-0 fw-normal">BONO GRANDE</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">230<small class="text-muted fw-light">€</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>10 Sesiones + 1 gratuita</li>
                      <li>Intercambiable entre servicios</li>
                    </ul>
                    <a type="button" class="w-100 btn btn-lg btn-dark" href="{% url 'contacto' %}">Contactanos</a>
                  </div>
                </div>
            </div>    
        </div>


        </div>
        <div class="col-md-5">
          <div class="imgServicio p-md-5 p-0">
              <div style="background: url({% static 'public/img/acupuntura.jpg'%}) no-repeat;background-size: cover; background-position: center !important;"></div> 
          </div>       
        </div>
    </div>


    <div class="row featurette mt-5 pt-5">
        <div class="col-md-7">
          <h2 class="featurette-heading text-light">YOGA</h2>
          <hr class="featurette-divider">
  
          <p class="lead text-secondary"> 
           <b class="text-light">10€</b> por alumno, duración 1 hora y grupos de 3 personas <br>
          </p>
        </div>
        <div class="col-md-5">
          <div class="imgServicio  p-md-5 p-0">
              <div style="background: url({% static 'public/img/yoga.webp'%}) no-repeat;background-size: cover; background-position: center !important;"></div> 
          </div>       
        </div>
    </div>


    <div class="row featurette mt-5 pt-5">
        <div class="col-md-7">
          <h2 class="featurette-heading text-light">DIETAS</h2>
          <hr class="featurette-divider">
  
          <p class="lead text-secondary"> 
           <b class="text-light">30€</b> La hora en tu primera visita. <br>
           <b class="text-light">25€</b> La hora en todas las demás visitas que hagas. <br>
          </p>

          <div class="row">
            <div class="col-md-6  text-center">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                  <div class="card-header py-3 text-white bg-dark border-dark">
                    <h4 class="my-0 fw-normal">BONO PEQUEÑO</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">90<small class="text-muted fw-light">€</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>4 Sesiones</li>
                      <li>Intercambiable entre servicios</li>
                    </ul>
                    <a type="button" class="w-100 btn btn-lg btn-dark" href="{% url 'contacto' %}">Contactanos</a>
                  </div>
                </div>
            </div>
            <div class="col-md-6  text-center">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                  <div class="card-header py-3 text-white bg-dark border-dark">
                    <h4 class="my-0 fw-normal">BONO GRANDE</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">230<small class="text-muted fw-light">€</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>10 Sesiones + 1 gratuita</li>
                      <li>Intercambiable entre servicios</li>
                    </ul>
                    <a type="button" class="w-100 btn btn-lg btn-dark" href="{% url 'contacto' %}">Contactanos</a>
                  </div>
                </div>
            </div>    
        </div>

        </div>
        <div class="col-md-5">
          <div class="imgServicio p-md-5 p-0">
              <div style="background: url({% static 'public/img/dietas.jpg'%}) no-repeat;background-size: cover; background-position: center !important;"></div> 
          </div>       
        </div>
    </div>


    <div class="row featurette mt-5 pt-5">
        <div class="col-md-7">
          <h2 class="featurette-heading text-light">ENTRENADOR PERSONAL</h2>
          <hr class="featurette-divider">
  
          <p class="lead text-secondary"> 
           <b class="text-light">25€</b> La hora. <br>
          </p>

          <div class="row">
            <div class="col-md-6  text-center">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                  <div class="card-header py-3 text-white bg-dark border-dark">
                    <h4 class="my-0 fw-normal">BONO PEQUEÑO</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">90<small class="text-muted fw-light">€</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>4 Sesiones</li>
                      <li>Intercambiable entre servicios</li>
                    </ul>
                    <a type="button" class="w-100 btn btn-lg btn-dark" href="{% url 'contacto' %}">Contactanos</a>
                  </div>
                </div>
            </div>
            <div class="col-md-6  text-center">
                <div class="card mb-4 rounded-3 shadow-sm border-dark">
                  <div class="card-header py-3 text-white bg-dark border-dark">
                    <h4 class="my-0 fw-normal">BONO GRANDE</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">230<small class="text-muted fw-light">€</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>10 Sesiones + 1 gratuita</li>
                      <li>Intercambiable entre servicios</li>
                    </ul>
                    <a type="button" class="w-100 btn btn-lg btn-dark" href="{% url 'contacto' %}">Contactanos</a>
                  </div>
                </div>
            </div>    
        </div>

        </div>
        <div class="col-md-5">
          <div class="imgServicio p-md-5 p-0">
              <div style="background: url({% static 'public/img/entrenador.webp'%}) no-repeat;background-size: cover; background-position: center !important;"></div> 
          </div>       
        </div>
    </div>




    <!-- /END THE FEATURETTES -->
</div>

{% endblock %}